<p>DragonBallPage</p>
<hr />

<section class="row">
    <div class="col-12 col-sm-6">
        
        <dragonball-character-add
        (newCharacter)="dragonballService.addCharacter($event)" />

    </div>
    <div class="col-12 col-sm-6">
        <dragonball-character-list
        listName="Lista de Personagens"
         [characters]="dragonballService.characters()" />

          <ul>
            @for (character of characters(); track character.id; let idx = $index) {
                <li>
                    <span>{{ idx + 1}} - {{ character.name }}</span>
                    <strong class="text-danger">({{ character.power }})</strong>
                </li>
            }
         </ul>


        <button (click)="addCharacter()"
    class="mt-2" btn-primary>Agregar</button>
    </div>




